@mixin full-size-half-height {
    width: 100%;
    height: 50%;
}

@mixin centering-using-flex($flex-dir: row) {
    display: flex;
    flex-direction: $flex-dir;
    justify-content: center;
    align-items: center;
}

@mixin space-between-using-flex($flex-dir: row) {
    display: flex;
    flex-direction: $flex-dir;
    align-items: center;
    justify-content: space-between;
}