$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px,
);

$soft-red: hsl(345, 95%, 68%);
$grayish-blue: hsl(237, 18%, 59%);

$white: hsl(0, 0%, 100%);
$dark-desaturated-blue: hsl(236, 21%, 26%);
$very-dark-blue: hsl(235, 16%, 14%);
$very-dark-blue-2: hsl(234, 17%, 12%);
$card-top: #2C2C44;
$card-bottom: #34364F;
$shadow: #1A1927;
 
$primary-color: #2d3e50;
$secondary-color: #1e2834;
 
$primary-fonts: 'Red Hat Text', sans-serif;
 